.bill{
    background-color: aliceblue;
    /* margin: 5px; */
    padding: 30px;
    width: 100vw;
}

.billItem{
    background-color: rgb(244, 247, 249);
    
    font-size: smaller;
}

p{
    font-size: 12px;
}
.container{
    text-align: right;
}