.bill{
    background-color: aliceblue;
    /* margin: 5px; */
    padding: 30px;
    width: 100vw;
    border: grey 1px solid;
}

.billItem{
    background-color: rgb(244, 247, 249);
    border: grey 1px solid;
    font-size: smaller;
}

p{
    font-size: 12px;
}
.container{
    text-align: right;
}
td{
    padding-left: 20px;
    border: grey 1px solid;
}
table{
    border: grey 1px solid;
}
