.header_dark{
    background: linear-gradient(rgb(48, 1, 1),rgb(31, 1, 31));
    color: white;
    font-family:sans-serif;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}
.banner{
    width: 15vh;
}
.card{
    width:100vw;
}
.cards{
  
    display:inline-block;
    background: url("../../public/images/background.jpg") ;
    background-position: top;
  }
  

@media screen and (max-width:1500) {
    .banner{
        width: 100vw;
    }
}