/** @format */

.col {
    overflow-x: auto;
    height: 50vw;
}
.cartItem{
   padding: 30px;
   background-color: rgb(240, 242, 245);
   border-radius: 20px;
   margin: 20px;


}


.cartItem img {
    /* padding-left: 30px; */
  border-radius: 20px;
  width: 20%;
  height: fit-content;
  justify-content: center;
  align-self: center;
  text-align: center;
 

}
.row{
    width: 96vw;
   padding: 30px;
   background-color: rgb(211, 212, 213);
   border-radius: 20px;
   margin: 20px;
}
.h2{
    padding-top: 30vh;
}

.price{
    background-color: azure;
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}




@media screen and (max-width:733px){
    .col{
        flex-basis: 100%;
    }
    .cartItem{
        padding: 5px;
        background-color: rgb(240, 242, 245);
        border-radius: 20px;
        margin: 5px;
     
     
     }
}