.body{
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}


.logo {
  float: left;
  display: inline;
  align-items: start;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 30px;
}

h2 b{
  padding-left: 5px;
  color: red;
  font-size: larger;
}


nav{
  background: linear-gradient(to right,#00093c,#2d0b00);
  height: 90px;
  width: 100%;
  position: fixed;
  align-items: center;
  text-align: center;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer{
  background-color: rgb(48, 47, 47);
  height: fit-content;
  width: 100%;
  align-items: center;
  text-align: center;
  display: block;
  margin: 0;
  
  align-content: center;
}
.about{
  background-color: rgb(228, 167, 62);
}

.nav-item{
  padding-left: 20px;
  font-size: 50px;
  list-style: none;
  display: inline;
}
.footer-item{
  color: aliceblue;
  padding: 20px;
  margin: 0;
  font-size: 30px;
  align-items: center;
  text-align: center;
}
.footer-item h5 {
  color: aliceblue;
  display:block;
  
  
  
}
/* .footer h5 {
  width: 30%;
  align-self: center;
} */
.footer table td a{
  color: azure;
  text-decoration: none;
}


.cards{
  padding-top: 90px;
  display:inline-block;
  background-color: rgb(228, 167, 62);
}


.btn{
  height: 95%;
  width: 100%;
  text-align: center;
  
  align-items: baseline;
  font-size: larger;
  margin: 5px;
  padding: 0;
  background-color: rgb(211, 211, 38);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.4s;
  border: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #050505;
}

.btn:active {
  transform: scale(0.90);
}
.btn p{
  padding-top: px;
  margin: 2px;
  color:rgb(6, 6, 6);
  font-size: larger;
}

footer{
  width: 100%;
  position:relative;
  bottom: 0;
  
  background: linear-gradient(to right,#00093c,#2d0b00);
  
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 22%;
  padding: 10px;
}


.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  
}





@media only screen and (max-width: 600px){
  .nav-item{
    font-size: 8vw;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 400px){
  .nav-item{
    font-size: 6vw;
    padding-left: 15px;
  }
}