
.nav{
  height: 50px;
  width: 100%;
  position: fixed;
  margin-top: 0;
  align-items: left;
  background-color: #EA907A;
}

.nav-item{
  display:inline;
  text-align: left;
  align-items: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  margin-top: 0;
}
.cards{
  margin-top: 50px;
  display:inline-block;
  background-color: #F4F7C5;
}




  